
  <div class="container">
      <div>
        <%= button_to 'javascript:history.back()', method: :get, class: "btn btn-link no-underline" do %>
          <%= icon(name: 'arrow-left', classes: 'd-inline-block', width: 24, height: 24) %>
          Back
        <% end %>
      </div>
    <h3 class="text-center mt-4 mb-4">Stock Location </h3>
        <%= form_with model: @stock_location, url: seller_stock_locations_path, method: :post, local: true, remote: true do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>

             <div class="form-group">
              <%= f.label :address1 %>
              <%= f.text_field :address1, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, class: 'form-control' %>
            </div>

         
            <div class="form-group">
              <%= f.label :address2 %>
              <%= f.text_field :address2, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :zipcode %>
              <%= f.text_field :zipcode, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>

            <div data-controller="stock-location">
              <div class="form-group">
                <%= f.label :country %>
                <%= f.select :country_id, options_for_select(@countries.map { |v| [v.name, v.id] }, @stock_location.country_id),
                {include_blank: true}, class: 'form-control choices', 
                "data-action": "stock-location#selectCountry", required: true %>
              </div>

              <div class="form-group">
                <%= f.label :state %>
                <%= f.select :state_id, 
                options_for_select(@states.map { |v| [v.name, v.id, { data: { country_id:  v.country_id } }] }, @stock_location.state_id),
                {include_blank: true}, "data-stock-location-target": "state", class: 'form-control choices', required: true  %>
              </div>
            </div>
     
            <div class="d-flex justify-content-center">
              <%= f.submit 'Submit', class: 'btn btn-primary spree-btn mt-2' %>
            </div>
        <%end%>
    <div>
